@inject INewsService service

<!DOCTYPE HTML>
<!--
	Editorial by HTML5 UP
	html5up.net | @@ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
<head>
	<title>X Haber</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="~/assets/css/main.css" />
</head>
<body class="is-preload">

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Main -->
		<div id="main">
			<div class="inner">

				<!-- Header -->
				<header id="header">
					<a href="index.html" class="logo"><strong>X HABER</strong></a>
					<ul class="icons">
						<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon brands fa-snapchat-ghost"><span class="label">Snapchat</span></a></li>
						<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon brands fa-medium-m"><span class="label">Medium</span></a></li>
					</ul>
				</header>
				@RenderBody()
			</div>
		</div>

		<!-- Sidebar -->
		<div id="sidebar">
			<div class="inner">

				<!-- Search -->
				<section id="search" class="alt">
					<form method="post" action="#">
						<input type="text" name="query" id="query" placeholder="Search" />
					</form>
				</section>

				<!-- Menu -->
				<nav id="menu">
					<header class="major">
						<h2>Haber Kategorileri</h2>
					</header>
					<ul>
						@foreach (var item in service.GetCategoriesAsync().Result)
						{
							<li><a asp-page="category" asp-route-slug="@item.Slug">@item.Name</a></li>
						}
						<li>

							<ul>
								@foreach (var item in service.GetCategoriesAsync().Result)
								{
									<li><a href="#">@item.Name</a></li>
								}

							</ul>
					</ul>
				</nav>

				<!-- Section -->
				<section>
					<header class="major">
						<h2>Gündem</h2>
					</header>
					<div class="mini-posts">
						<article>
							<a href="#" class="image"><img src="~/images/pic07.jpg" alt="" /></a>
							<p>Türk savunma sanayisi İHA ihracatını çeşitlendirecek.</p>
						</article>
						<article>
							<a href="#" class="image"><img src="~/images/pic08.jpg" alt="" /></a>
							<p>Borsa günün ilk yarısında yükseldi.</p>
						</article>
						<article>
							<a href="#" class="image"><img src="~/images/pic09.jpg" alt="" /></a>
							<p>TAV Havalimanları'na hizmet kalitesi ödülü.</p>
						</article>
					</div>
					<ul class="actions">
						<li><a href="#" class="button">Daha Fazla</a></li>
					</ul>
				</section>

				<!-- Section -->
				<section>
					<header class="major">
						<h2>Bizimle İletişime Geçin</h2>
					</header>
					<p>
						Herhangi bir sorunuz veya geri bildiriminiz varsa, lütfen aşağıdaki formu kullanarak bize bir mesaj gönderin; size en yakın zamanda dönüş yapacağız. Tüm sorularınız gizlilik içinde ele alınacaktır.
					</p>
					<ul class="contact">
						<li class="icon solid fa-envelope"><a href="#">information@untitled.tld</a></li>
						<li class="icon solid fa-phone">(216) 333-3333</li>
						<li class="icon solid fa-home">
							1234 Somewhere Road #8254<br />
							Nashville, TN 00000-0000
						</li>
					</ul>
				</section>

				<!-- Footer -->
				<footer id="footer">
					<p class="copyright">&copy; Untitled. All rights reserved. Demo Images: <a href="https://unsplash.com">Unsplash</a>. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
				</footer>

			</div>
		</div>
	</div>
	<!-- Scripts -->
	<script src="~/assets/js/jquery.min.js"></script>
	<script src="~/assets/js/browser.min.js"></script>
	<script src="~/assets/js/breakpoints.min.js"></script>
	<script src="~/assets/js/util.js"></script>
	<script src="~/assets/js/main.js"></script>

</body>
</html>
